%h1.text-center All Users
.row
  = form_tag '/user_search', method: :get do
    .col-xs-5.col-xs-offset-3
      =text_field_tag :search_term, "", class: "form-control"
    .col-xs-1
      =submit_tag "Search", class: "btn btn-default pull-right"
%br
%br
.row
  - @users.each do |user|
    .col-xs-3
      = link_to user do
        = image_tag(user.avatar_url, class: "index-profile-picture")
        %h4.text-center= user.tag

= will_paginate @users, renderer: BootstrapPagination::Rails
