.row
  .col-sm-4
    %h2= @user.tag
    = image_tag(@user.avatar_url, class: "profile-picture")
    %br
    - if current_user.can_follow?(@user)
      = link_to "Follow", user_relationships_path(@user), class: "btn btn-default btn-yellow", method: :post
    - if current_user.can_unfollow?(@user)
      = link_to "Unfollow", relationships_user_path(@user), class: "btn btn-default btn-orange", method: :delete
  
  .col-sm-8
    %h3 Tweets:
    = render @tweets
  