.row
  .col-sm-4
    = bootstrap_form_for @tweet do |f|
      = f.text_area :body, label: "Tweet", rows: 6, class: "tweet-input"
      = f.submit "Tweet"
      %br
      %br
  .col-sm-6
    %ul.nav.nav-tabs
      %li(class="#{"active" if !params[:tab]}")
        = link_to "Tweets", home_path
      %li(class="#{"active" if params[:tab] === "mentions"}")
        = link_to "Mentions (#{current_user.unseen_mentions})", home_path(tab: "mentions")
    - if !params[:tab]
      %h3 Tweets:
      = render @tweets
    - elsif params[:tab] == "mentions"
      %h3 Mentions:
      - @mentions.each do |mention|
        = render "tweets/tweet", tweet: mention.tweet
        
%script
  var tweetInput = $('.tweet-input');

  // Multiply by 2 to ensure the cursor always ends up at the end;
  // Opera sometimes sees a carriage return as 2 characters.
  var strLength = tweetInput.val().length * 2 + 1;

  tweetInput.focus();
  tweetInput[0].setSelectionRange(strLength, strLength + 1);
